---
export interface Props {
  title: string,
  desc: string,
  links?: {label: string; url: string}[]
}

const { title, desc, links } = Astro.props as Props;
---

<div>
  <hr>
  <h4>{title}</h4>
  <p>{desc}</p>
  {links && links.map((item) => (
    <a href={item.url}>{item.label}</a>
  ))}
</div>