---
import Button from './Button.astro';
import HorizontalList from './HorizontalList.astro';
export interface Props {
  title: string,
  desc: string,
  links?: {label: string; url: string}[]
}

const { title, desc, links } = Astro.props as Props;
---

<div>
  <hr>
  <h2>{title}</h2>
  <p>{desc}</p>
  <br>
  <HorizontalList>
    {links && links.map((item) => (
      <Button text={item.label} link={{href: item.url, newTab: true}} />
    ))}
  </HorizontalList>
</div>