---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg" />
		<link rel="stylesheet" href="/fontawesome/all.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	@font-face {
		font-family: 'Fira Code';
		src: url('/fonts/FiraCode-VariableFont_wght.ttf') format("truetype-variations");
		font-weight: 1 999;
	}

	:root {
		--font-size-base: 14px;
		--font-size-lg: 18px;
		--font-size-xl: 30px;

		--color-text: #1e293b;
		--color-bg: #f8fafc;
	}

	html {
		font-family: 'Fira Code', monospace;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(a) {
		text-decoration: none;
		color: var(--color-text);
	}

</style>
